#desktop-app{
    background: #803333;
}

#top {
    background: #333f80;
}

.full-page {
    min-width: 100vw;
    min-height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.grow {
    flex: 1;
}

.col {
    flex: 0 0 33.33%;
}

.card {
    border: 2px solid rgb(119, 119, 119);
    border-radius: 4px;
}

#middle, #right {
    height: 100%;
}

#left-up {
    height: 60%;
}

#left-bottom {
    height: 40%;
}