:root {
    --p-sm: 8px;
    --p-md: 16px;
    --p-lg: 32px;
}

#desktop-app{
    background: #010409;
}

#top {
    background: #161b22;
    color: #f0f6fc;
    padding-left: var(--p-sm);
}

.full-page {
    min-width: 100vw;
    min-height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.grow {
    flex: 1;
}

.col {
    flex: 0 0 33.33%;
    padding-left: var(--p-md);
}

.content {
    padding: var(--p-md);
    padding-left: 0;
}

.card {
    border: 1px solid #30363d;
    background: #0d1117;
    border-radius: 6px;
    overflow: hidden;
}

#middle, #right {
    height: 100%;
}

#left-up {
    height: calc(60% - var(--p-md));
}

#left-bottom {
    height: 40%;
    margin-top: var(--p-md);
}